
  


h1, h2, h3, h4, h5, h6 { 
  color: #25292a; 
  margin: 0px 0px 10px 0px; font-family: 'Overpass', sans-serif; 
  font-weight: 700; 
  letter-spacing: -1px; 
  line-height: 1; }
  
  
  h1 { font-size: 34px; }
  h2 { font-size: 28px; line-height: 38px; }
  h3 { font-size: 22px; line-height: 32px; }
  h4 { font-size: 20px; }
  h5 { font-size: 17px; }
  h6 { font-size: 12px; }
  p { margin: 0 0 20px; line-height: 1.7; }
  p:last-child { margin: 0px; }
  
  
  
  a { text-decoration: none; 
  color: #8d8f90; 
  -webkit-transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  transition: all 0.3s; }
  a:focus, a:hover { text-decoration: none; color: #f85759; }
  
  
  
  .page-header4 { background: url(https://img.freepik.com/vector-premium/mapa-gps-pin-direccion_184220-474.jpg?size=626&ext=jpg)no-repeat; 
  position: relative;
  height: 5%;
  width: 80.5%;
  margin-left: 19.8%;
  background-size: cover; }
  
  .page-header4:before {
    backdrop-filter: blur(2px);
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.297); /* Black with 50% opacity */
   }
  
  
  
  
  .page-caption { 
  padding-top: 140px; 
  padding-bottom: 140px; }
  
  
  .page-title { 
  font-size: 46px; 
  line-height: 1; 
  color: #fff; font-weight: 600; 
  text-align: center; }
  
  .card-section { 
  position: relative; 
  bottom: 60px; 
  margin-left: 22%;
  width: 76%;
  }
  
  
  .card-block { 
    padding: 80px;
    background-color: white;
   }
  
  .section-title { 
    margin-bottom: 60px; 
  }
  
  
  
  
  
  .cardMap {
    position: absolute;
    width: 380px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 46%;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    color: #f8f8f8;
  }
  
  .card_title {
    font-weight: bold;
    padding-right: 15%;
  
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
    color: #131313;
    line-height: 15px;
    padding-right: 15%;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    padding-right: 15%;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    padding-right: 15%;
  }
  
  .cardMap:hover .card_content {
    transform: translateY(0);
  }
  
  .cardMap:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }
  
  
  
  
  
  
  
  .cardMap2 {
    position: relative;
    width: 380px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0%;
    margin-top: -6%;
    margin-bottom: 10%;
  }
  
  .temporary_text2 {
    font-weight: bold;
    font-size: 24px;
    color: #f8f8f8;
  }
  
  .card_title2 {
    font-weight: bold;
    
  }
  
  .card_content2 {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(90px);
    transition: transform .25s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  }
  
  .card_content2::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title2 {
    color: #131313;
    line-height: 15px;
    padding-right: 15%;
  }
  
  .card_subtitle2 {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    padding-right: 15%;
  }
  
  .card_description2 {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    padding-right: 15%;
  }
  
  .cardMap2:hover .card_content2 {
    transform: translateY(0);
  }
  
  .cardMap2:hover .card_description2 {
    opacity: 1;
    transition-delay: .25s;
  }
  
  
  
  
  
  
  
  .cardMap3 {
    position: relative;
    width: 380px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 55%;
    margin-bottom: -5%;
  }
  
  .temporary_text3 {
    font-weight: bold;
    font-size: 24px;
    color: #f8f8f8;
  }
  
  .card_title3 {
    font-weight: bold;
    
  }
  
  .card_content3 {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(143px);
    transition: transform .25s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  }
  
  .card_content3::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title3 {
    color: #131313;
    line-height: 15px;
    padding-right: 15%;
    padding-top: 25%;
  }
  
  .card_subtitle3 {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    padding-right: 15%;
  }
  
  .card_description3 {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    padding-right: 10%;
  }
  
  .cardMap3:hover .card_content3 {
    transform: translateY(0);
  }
  
  .cardMap3:hover .card_description3 {
    opacity: 1;
    transition-delay: .25s;
  }
  
  
  
  
  
  .cardMap4 {
    position: absolute;
    width: 380px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0%;
    margin-top: -27%;
  
  }
  
  .temporary_text4 {
    font-weight: bold;
    font-size: 24px;
    color: #f8f8f8;
  }
  
  .card_title4 {
    font-weight: bold;
    padding-right: 15%;
  }
  
  .card_content4 {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(168px);
    transition: transform .25s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    padding-right: 15%;
  }
  
  .card_content4::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title4 {
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle4 {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    padding-right: 15%;
  }
  
  .card_description4 {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    padding-right: 15%;
  }
  
  .cardMap4:hover .card_content4 {
    transform: translateY(0);
  }
  
  .cardMap4:hover .card_description4 {
    opacity: 1;
    transition-delay: .25s;
  }