.Pedidos {
    width: 460px;
      position:absolute;
      margin-right: 50%;
      margin-top: -90%;
    }
    
    .heading-primary-sub4 {
        display: flex;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 7.4px;
        margin-left: -50%
    }
    
    .loader2 h1{
        margin-top: 10%;
        margin-left: -120%;
        padding: 0;
        text-transform: uppercase;
        font-size: 6em;
        color: rgba(255,255,255,.1);
        background-image: url(https://wallpapers.com/images/hd/blue-and-purple-3840-x-2160-t20ps2kmo6okyx3g.jpg);
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        animation: animate 15s linear infinite;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
    }